.tablepicture{
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid;
  border-color: #757575;
}
.firstcolumn{
  border-right: 2px solid;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-color: #757575;
}
.secondColumn{
  border:none;
}
