    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                    <v-toolbar dark color="primary">
                        <v-toolbar-title>Register</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <form>
                        <v-card-text>
                            <v-form>
                                <v-text-field
                                        prepend-icon="person"
                                        v-model="username"
                                        label="Brugernavn"
                                        type="text"
                                        @keyup.enter="login"
                                ></v-text-field>
                                <v-text-field
                                        prepend-icon="lock"
                                        v-model="password"
                                        label="Adgangskode"
                                        type="password"
                                        @keyup.enter="login"
                                ></v-text-field>
                            </v-form>
                            <v-flex v-if="error === 'error'" class="red--text">
                                Brugernavn er allerede i brug.
                            </v-flex>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" @click="register">Opret</v-btn>
                        </v-card-actions>
                    </form>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
