<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet"/>
</head>
<body>
<div oc-app v-cloak>
<admin-wrap>
     @RenderBody()
</admin-wrap>
</div>

<script src="~/js/bundle.js"></script>
</body>
</html>